[Unit]
Description=openvim server

[Service]
ExecStart=/usr/bin/openvimd -c /etc/osm/openvimd.cfg --log-file=/var/log/osm/openvim.log
Restart=always

[Install]
WantedBy=multi-user.target

